In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#pandas: Veri analizi ve manipülasyonu için kullanılan güçlü bir kütüphanedir.
#Verileri tablo biçiminde temsil eder ve veri setleri üzerinde geniş işlevsellik
#sağlar, örneğin veri filtreleme, gruplama, birleştirme, sıralama gibi işlemler yapabiliriz
#******************************************************************************
#numpy: Bilimsel hesaplama için temel bir kütüphanedir. Sayılarla çalışırken
#hızlı ve etkili hesaplamalar yapmanızı sağlar. Özellikle çok boyutlu dizilerle
#(array) çalışmak için kullanılır ve matematiksel işlemler, lineer cebir
#operasyonları ve rastgele sayı üretimi gibi işlemler için yaygın olarak kullanılır.
#**********************************************************************************
#matplotlib: Veri görselleştirme için kullanılan bir kütüphanedir.
#Çeşitli grafik türlerini oluşturmanızı sağlar, örneğin çizgi grafikleri,
#histogramlar, dağılım grafikleri vb. Oluşturabilirsiniz.
#Grafiklerin görünümünü ve özelliklerini özelleştirebilirsiniz.
#********************************************************************************
#seaborn: Veri görselleştirme için bir başka popüler kütüphanedir.
#Matplotlib'e dayanır ve daha yüksek düzeyde bir arayüz sunar.
#İstatistiksel grafikler, ısı haritaları, yoğunluk haritaları gibi daha
#karmaşık görselleştirmeler yapmak için kullanılabilir. 
#Aynı zamanda renk paletleri ve stil ayarları gibi ek özellikler sunar.

In [2]:
books = pd.read_csv('data/BX-Books.csv', sep= ";", error_bad_lines=False, encoding='latin-1')
#Bu kod, pandas kütüphanesini kullanarak BX-Books.csv adlı bir dosyayı okuyor
#ve bir DataFrame nesnesi olarak books adlı bir değişkene atıyor.

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\MUSTAFA KIRPIK\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3258: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
books.head()
# DataFrame'inin ilk birkaç satırını görüntülemek için kullanılır

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.shape
#books DataFrame'inin boyutunu (satır ve sütun sayısı) döndürür.

(271360, 8)

In [5]:
books.columns
#books DataFrame'inin sütun başlıklarını döndürür.

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books=books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L']]
#books DataFrame'inin sadece belirli sütunlarını seçerek yeni bir
#DataFrame oluşturuyor.
#burdda tüm sütunlara ihtiyaç duymadıgımız için bazı sutunlar seçildi.

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [9]:
books.rename(columns={
    "Book-Title":"title",
    "Book-Author":"author",
     "Year-Of-Publication":'year',
    "Publisher":"publisher",
    "Image-URL-L":"img_url"}, inplace=True )
#books DataFrame'inin sütun başlıklarını yeniden adlandırıyor.

In [10]:
books.head()

,ISBN,title,author,year,publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [11]:
users = pd.read_csv('data/BX-Users.csv', sep= ";", error_bad_lines=False, encoding='latin-1')
#pandas kütüphanesini kullanarak BX-Users.csv adlı bir dosyayı okuyor
#ve bir DataFrame nesnesi olarak users adlı bir değişkene atıyor.

In [12]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [13]:
users.shape

(278858, 3)

In [14]:
users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [15]:
users.head(2)

   user_id                   location   age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [16]:
ratings = pd.read_csv('data/BX-Book-Ratings.csv', sep= ";", error_bad_lines=False, encoding='latin-1')

In [17]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
#ratings_norm = (ratings - ratings.mean()) / ratings.std()

In [18]:
#print(ratings_norm.head())
ratings.shape

(1149780, 3)

In [496]:
ratings.rename(columns={
    "User-ID":"user_id",
    "Book-Rating":"rating"},inplace=True)

In [497]:
ratings.head(2)

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5

In [498]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271379, 6)
(278858, 3)
(1149780, 3)

In [499]:
ratings['user_id'].value_counts()
#ratings DataFrame'inin "user_id" sütununu kullanarak her kullanıcının
#toplam derecelendirme sayısını sayar

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
158698        1
17920         1
277135        1
275086        1
187812        1
Name: user_id, Length: 105283, dtype: int64

In [500]:
ratings['user_id'].unique().shape
#kodu, ratings DataFrame'inin "user_id" sütununda bulunan benzersiz
#kullanıcı kimliklerinin sayısını döndürür.

(105283,)

In [501]:
x= ratings['user_id'].value_counts()>200
#ratings DataFrame'inin "user_id" sütununda bulunan kullanıcıların
#derecelendirme sayılarını kontrol eder ve her bir kullanıcının 200'den
#fazla derecelendirmeye sahip olup olmadığını belirler.

In [502]:
x[x].shape
# x serisinin değeri True olan satırlarını seçer ve bu satırların
#sayısını döndürür.

(899,)

In [504]:
y=x[x].index

In [505]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183, 155916,  44296,  73681,  59727,  28634, 188951,   9856,
            268622, 274808],
           dtype='int64', length=899)

In [506]:
ratings=ratings[ratings['user_id'].isin(y)]
#Bu kodun amacı, ratings DataFrame'inde sadece y indeksine sahip olan
#kullanıcıların derecelendirmelerini içeren verileri
#filtrelemektir. Bu şekilde, sadece x serisinde değeri True olan
#kullanıcıların derecelendirmeleri ratings DataFrame'inde kalır.

In [507]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [508]:
ratings.shape

(526356, 3)

In [509]:
ratings_with_books=ratings.merge(books, on="ISBN")
#Bu kod, ratings ve books DataFrame'lerini "ISBN" sütunu üzerinde 
#birleştirerek yeni bir DataFrame olan ratings_with_books oluşturur.
# Bu DataFrame, "ISBN" sütunu üzerinden derecelendirmeleri ve ilgili
#kitap bilgilerini içerir. Bu şekilde, bir kitabın derecelendirmelerini ve
#ilgili kitap özelliklerini aynı veri setinde bir araya getirebilirsiniz.

In [511]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher,img_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [512]:
ratings_with_books.shape

(78802, 8)

In [513]:
num_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()
#ratings_with_books DataFrame'inin "title" sütununa göre gruplama yapar
#ve her bir kitap için derecelendirme sayısını (rating) sayar. Sonuç olarak,
#her bir kitap için derecelendirme sayısını içeren yeni bir DataFrame olan num_rating oluşturulur.

In [514]:
num_rating.head()

                                               title  rating
0   Earth Prayers From around the World: 365 Pray...       3
1   Final Fantasy Anthology: Official Strategy Gu...       3
2   Flight of Fancy: American Heiresses (Zebra Ba...       1
3   Little Comic Shop of Horrors (Give Yourself G...       4
4                                       Mystery Mile       1

In [515]:
num_rating.rename(columns={'rating':'num_of_rating'},inplace=True)
#Bu kod, num_rating DataFrame'indeki "rating" sütununun adını "num_of_rating" olarak değiştirir.

In [516]:
num_rating.head()

                                               title  num_of_rating
0   Earth Prayers From around the World: 365 Pray...              3
1   Final Fantasy Anthology: Official Strategy Gu...              3
2   Flight of Fancy: American Heiresses (Zebra Ba...              1
3   Little Comic Shop of Horrors (Give Yourself G...              4
4                                       Mystery Mile              1

In [517]:
final_rating = ratings_with_books.merge(num_rating, on ='title')
#ratings_with_books ve num_rating DataFrame'lerini "title" sütunu
#üzerinde birleştirerek yeni bir DataFrame olan final_rating oluşturur.
#"title" sütununu ortak anahtar olarak kullanarak gerçekleştirilir.
#Bu şekilde, her bir kitabın derecelendirmelerini ve derecelendirme 
#sayısını aynı veri setinde bir araya getirebilirsiniz.

In [518]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,img_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [519]:
final_rating.shape

(78802, 9)

In [520]:
final_rating=final_rating[final_rating['num_of_rating']>=50]
#Bu işlem sonucunda, final_rating DataFrame'i, sadece 50 veya daha 
#fazla derecelendirmeye sahip kitapları içeren bir veri setine dönüşür.
#absBu filtreleme işlemidaha nadir derecelendirilmiş veya az sayıda
#derecelendirmeye sahip kitapları elemek için kullanılabilir.

In [521]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,img_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [522]:
final_rating.shape

(5886, 9)

In [523]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)
#drop_duplicates() fonksiyonu, DataFrame'deki tekrar eden satırları
#kaldırmak için kullanılır. ['user_id', 'title'] parametresi, hangi
#sütunlara göre tekrar eden satırların kontrol edileceğini belirtir.
#Böylece, her bir kullanıcının aynı kitaba verdiği birden fazla
#derecelendirmenin yalnızca bir kopyası kalır.

In [ ]:
final_rating.shape

(5852, 9)

In [ ]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values = 'rating')
#pivot_table() fonksiyonu, DataFrame üzerinde bir pivot tablosu oluşturmak
#için kullanılır. columns parametresi, pivot tablosunda sütunların hangi
#sütuna göre oluşturulacağını belirtir. Bu durumda, "user_id" sütunu
#kullanılarak sütunlar oluşturulur.
#index parametresi, pivot tablosunda indeksin hangi sütuna göre
#oluşturulacağını belirtir. Bu durumda, "title" sütunu kullanılarak 
#indeks oluşturulur
#values parametresi, pivot tablosunda değerlerin hangi sütundan
#alınacağını belirtir. Bu durumda, "rating" sütunu kullanılarak değerler alınır.
# Pivot tablosu, kullanıcıların kitaplara verdikleri derecelendirmeleri içerir.
#Kitaplar indeks olarak kullanılırken, kullanıcılar sütunlarda temsil edilir.

In [556]:
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Fine Balance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Painted House,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Patchwork Planet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Widow for One Year,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Turtle Moon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Welcome to the World, Baby Girl!",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What Looks Like Crazy On An Ordinary Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What to Expect When You're Expecting (Revised Edition),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [525]:
book_pivot.shape

(70, 810)

In [526]:
book_pivot.fillna(0, inplace=True)
#fillna() fonksiyonu, DataFrame'deki eksik veya NaN değerleri
#belirli bir değerle doldurmak için kullanılır.
#Bu işlem sonucunda, book_pivot DataFrame'i güncellenir ve eksik
#değerleri içeren herhangi bir hücre 0 ile doldurulmuş olur.

In [527]:
book_pivot

user_id,254,2276,2766,2977,3363,4017,6242,6251,6323,6543,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Fine Balance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Painted House,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Patchwork Planet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Widow for One Year,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Tale of the Body Thief (Vampire Chronicles (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Turtle Moon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Welcome to the World, Baby Girl!",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What Looks Like Crazy On An Ordinary Day,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
What to Expect When You're Expecting (Revised Edition),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [528]:
from scipy.sparse import csr_matrix
#Bu kod, scipy.sparse modülünden csr_matrix sınıfını içe aktarır.
#csr_matrix, sıkıştırılmış düzenli seyrek matrislerin temsilini
#sağlayan bir veri yapısıdır. CSR (Compressed Sparse Row) formatı
#olarak da bilinir.
#sparse matrisler, büyük ve seyrek matrislerin bellekte verimli bir
#şekilde depolanmasını ve işlenmesini sağlar. Özellikle, büyük veri 
#kümeleri veya seyrek veri yapıları üzerinde çalışırken hafıza
#kullanımını önemli ölçüde azaltabilirler.

In [529]:
book_sparse = csr_matrix(book_pivot)
#book_pivot DataFrame'i, kullanıcıların kitaplara verdikleri
#derecelendirmeleri içeren bir pivot tablosunu temsil eder.
#Bu pivot tablosu, kullanıcıları sütunlarda ve kitapları indekste tutar.
#csr_matrix() fonksiyonu bu pivot tablosunu sıkıştırılmış bir formata dönüştürür.

In [530]:
type(book_sparse) 
#book_sparse değişkenin türü ekrana yazdırılır. Eğer book_sparse
#bir csr_matrix nesnesi olarak tanımlandıysa, çıktı olarak
#<class 'scipy.sparse.csr.csr_matrix'> gibi bir değer alırız

scipy.sparse.csr.csr_matrix

In [531]:
from sklearn.neighbors import NearestNeighbors
model= NearestNeighbors(algorithm='brute')
#NearestNeighbors sınıfı, yakınlık tabanlı bir model oluşturmak için kullanılır.
#Bu sınıf, veri noktaları arasındaki benzerlik veya uzaklık tabanlı komşuluk ilişkilerini bulmak için kullanılabilir.
#Bu kodu çalıştırdığınızda, NearestNeighbors sınıfı sklearn.neighbors 
#modülünden içe aktarılır ve NearestNeighbors sınıfından bir model nesnesi oluşturulur. 
#model nesnesi, NearestNeighbors modelini temsil eder ve belirtilen algoritma parametresiyle birlikte kullanılabilir.

In [532]:
model.fit(book_sparse)
#fit() yöntemi, NearestNeighbors modelini veriye uyumlu hale getirmek için kullanılır.
#Bu durumda, book_sparse seyrek matrisi model nesnesine uyumlu hale getirilir.
#book_sparse seyrek matrisi, kitapların kullanıcılar arasındaki benzerliklerini
#veya uzaklıklarını temsil eder. model.fit() yöntemi, bu matrisi kullanarak modeli eğitir
#ve veriyi temsil etme ve komşuluk ilişkilerini belirleme yeteneğini sağlar.

NearestNeighbors(algorithm='brute')

In [536]:
distance,suggestion= model.kneighbors(book_pivot.iloc[69,:].values.reshape(1,-1),n_neighbors=7)
#model.kneighbors() yöntemi, verilen bir örneğe (kitap için verilen derecelendirmeler)
#en yakın komşuları ve bu komşuların uzaklıklarını döndürür.
#book_pivot.iloc[69, :].values.reshape(1, -1) ifadesi, book_pivot DataFrame'indeki 
#69. satırı seçer ve bu satırı bir örneğe dönüştürür. values ile örnek değerleri
#alınırken, reshape(1, -1) ile örneğin boyutu 1 satır ve uygun sayıda sütun olacak
#şekilde yeniden şekillendirilir.
#n_neighbors=7 parametresi, döndürülecek en yakın komşu sayısını belirtir.
#Bu durumda, 7 en yakın komşu döndürülür.
#Bu kodu çalıştırdığınızda, model.kneighbors() yöntemi kullanılarak belirli bir
#kitap için en yakın komşular ve bu komşuların uzaklıkları distance ve suggestion
#değişkenlerine atanır. distance değişkeni, en yakın komşuların uzaklıklarını
#içeren bir NumPy dizisidir. suggestion değişkeni, en yakın komşuların indislerini
#içeren bir NumPy dizisidir.

In [537]:
distance
#Bu kodu çalıştırdığınızda, distance dizisinin değerleri ekrana yazdırılır.
#Dizinin boyutu ve içeriği, belirli bir kitap için en yakın komşu kitapların uzaklıklarını gösterir.

array([[ 0.        , 38.57460304, 40.21193853, 42.17819342, 42.40283009,
        42.41462012]])

In [538]:
suggestion
#Bu kodu çalıştırdığınızda, suggestion dizisinin değerleri ekrana yazdırılır.
#Dizinin boyutu ve içeriği, belirli bir kitaba en yakın olan komşu kitapların indekslerini gösterir.

array([[69, 63,  3, 56,  4, 19]], dtype=int64)

In [540]:
book_pivot.iloc[56,:]
#Bu kodu çalıştırdığınızda, book_pivot DataFrame'inin 56. satırı seçilir
#ve bu satırın tüm sütunları ekrana yazdırılır. Bu, 56. satıra ait kitap 
#bilgilerini ve kullanıcıların bu kitaplara verdikleri derecelendirmeleri içeren bir Seri (Series) nesnesini döndürür.

user_id
254       0.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    0.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: The Kiss, Length: 810, dtype: float64

In [541]:
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])
    #Bu kodu çalıştırdığınızda, suggestion dizisindeki her bir indeksin karşılık geldiği
    #kitap başlığını (indeksi) ekrana yazdırır. Bu şekilde, belirli bir kitap için
    #en yakın komşuların kitap başlıklarını görebilirsiniz.

Index(['What to Expect When You're Expecting (Revised Edition)', 'The Reef',
       'A Patchwork Planet', 'The Kiss', 'A Widow for One Year',
       'Degree of Guilt'],
      dtype='object', name='title')

In [542]:
book_pivot.index[19]

'Degree of Guilt'

In [543]:
book_names = book_pivot.index

'A Painted House'

In [545]:
np.where(book_pivot.index == 'Degree of Guilt')[0][0]
#np.where(book_pivot.index == 'Degree of Guilt') ifadesi, bu koşulu sağlayan
#öğelerin indekslerini döndürür. Bunlar bir NumPy dizisi olarak döndürülür.

19

In [546]:
ids = np.where(final_rating['title'] == "A Painted House")[0][0]
#np.where(final_rating['title'] == "A Painted House") ifadesi, bu koşulu 
#sağlayan öğelerin indekslerini döndürür. Bu bir NumPy dizisi olarak döndürülür.
#[0][0] ifadesi, bu NumPy dizisinden ilk indeksi seçer. Çünkü np.where() işlevi,
#koşulu sağlayan öğelerin indekslerini içeren bir dizi döndürür ve biz burada sadece tek bir indeksi istiyoruz.
#Bu kodu çalıştırdığınızda, 'A Painted House' kitabının başlık sütununda eşleşen ilk indeks
#(bir tamsayı) ids değişkenine atanır. Bu indeks, final_rating DataFrame'inde ilgili
#satırı veya diğer ilgili bilgileri almak için kullanılabilir.

In [547]:
final_rating.iloc[ids]['img_url']
#u kodu çalıştırdığınızda, final_rating DataFrame'inde ids değişkenindeki 
#indekse karşılık gelen satırın 'img_url' sütunundaki değer döndürülür.
#Bu, 'A Painted House' kitabının ilgili görüntü URL'sini içeren bir string değerini döndürür.

'http://images.amazon.com/images/P/038550120X.01.LZZZZZZZ.jpg'

In [548]:
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])
    #Bu kodu çalıştırdığınızda, suggestion dizisindeki her bir book_id için ilgili indeksi
    #(book_pivot.index[book_id]) book_name listesine eklersiniz. Sonunda, book_name listesi,
    #önerilen kitapların başlıklarını içeren bir liste olacaktır.

In [549]:
book_name[0]

Index(['What to Expect When You're Expecting (Revised Edition)', 'The Reef',
       'A Patchwork Planet', 'The Kiss', 'A Widow for One Year',
       'Degree of Guilt'],
      dtype='object', name='title')

In [550]:
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)
    #Bu kodu çalıştırdığınızda, book_name[0] listesindeki her bir kitap başlığı (name)
    #için ilgili indeksi (ids) final_rating DataFrame'inde bulursunuz ve bu indeksleri (ids)
    #ids_index listesine eklersiniz. Sonunda, ids_index listesi, önerilen kitapların
    #final_rating DataFrame'indeki indekslerini içeren bir liste olacaktır.

In [551]:
for idx in ids_index:
    url = final_rating.iloc[idx]['img_url']
    print(url)
    #Bu döngü, ids_index listesindeki her bir indeks (idx) için bir iterasyon yapar.
    #Her iterasyonda, idx değerini kullanarak final_rating DataFrame'indeki ilgili
    #indekse karşılık gelen satırı seçer. Ardından, bu seçilen satırın 'img_url' sütunundaki değeri (url) alır.

http://images.amazon.com/images/P/089480829X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/051512608X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/080411918X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/044023669X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/034543479X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/034538184X.01.LZZZZZZZ.jpg

In [553]:
import pickle
pickle.dump(model , open('artifacts/model.pkl','wb'))
pickle.dump(book_name, open('artifacts/books_name.pkl','wb'))
pickle.dump(final_rating, open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot, open('artifacts/book_pivot.pkl','wb'))
#Bu kod, pickle.dump() işlevini kullanarak dört farklı nesneyi serileştiriyor 
#ve belirtilen dosya adı ve yoluna kaydediyor. Serileştirilen nesnelerin dosya
#adları ve kaydedileceği dizinler aşağıdaki gibi belirtilmiştir
#ickle.dump() işlevi, belirtilen nesneyi seri hale getirir ve open() işleviyle
#oluşturulan dosyaya yazarak kaydeder. wb (write binary) modu, dosyanın ikili (binary) modda yazılacağını belirtir.
# Bu dosyalar daha sonra pickle.load() işleviyle yüklenerek ilgili nesneleri geri almak için kullanılabilir.

In [554]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    for i in range(len(suggestion)):
        books = book_pivot.index[suggestion[i]]
        for j in books:
            print(j)
 #Bu fonksiyon, book_name değişkeninin book_pivot DataFrame'inin indeksleriyle eşleşen 
#ilk değerini (book_id) bulur. Ardından, model.kneighbors() yöntemini kullanarak book_pivot
#DataFrame'inin ilgili satırının değerlerini kullanarak benzerlik ölçümleri yapar ve benzer
#kitapları (suggestion) ve ilgili mesafeleri (distance) döndürür. 
#Daha sonra, suggestion dizisindeki her bir kitap için bir döngü oluşturur.
#Her bir döngü adımında, ilgili kitapların başlıklarını
#(book_pivot.index[suggestion[i]]) books değişkenine atar. Ardından, her bir kitap başlığını (j) ekrana yazdırır.
#Bu fonksiyonu çağırdığımızda, book_name değişkeniyle belirtilen kitaba benzer olan kitapların başlıkları ekrana yazdırılır.

In [555]:
book_name = 'Harry Potter and the Order of the Phoenix (Book 5)'
recommend_book(book_name)

#Not: Benzerlik ölçümleri, modelin eğitim verilerine dayalı olarak yapıldığı
#için sonuçlar modelin eğitimine bağlı olarak değişebilir. Ayrıca, elde edilen 
#sonuçların gerçek kitap önerileriyle ne kadar uyumlu olduğunu değerlendirmek için sonuçları gözden geçirmeniz önemlidir.

Harry Potter and the Order of the Phoenix (Book 5)
Turtle Moon
A Widow for One Year
Flesh and Blood
The Reef
A Patchwork Planet